.nav-up {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.nav-up {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

html,
body {
  background-image: url(../img/bgBuildTeam.jpg);
  background-position: center -44px;
  height: 100%;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
  min-height: 100vh;
}

.mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mid-col {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 200px;
  width: 100%;
}

.monto {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
}

.monto span {
  font-size: 1.1rem;
}

.title-mid {
  font-size: 1.4rem;
  font-weight: bold;
}

a {
  color: #fff;
}

.buscador {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-control-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 110px;
}

.filtro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.busqueda-container {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.busqueda-container label {
  margin: 0;
}

.busqueda-container .apellido {
  margin-right: 10px;
}

.grupo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.celdas {
  text-align: start;
  min-width: 250px;
}

.footer-bottom {
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.lista-jugadores {
  height: 100%;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand .far {
  font-size: 2.5rem;
  margin-right: 10px;
}

.navbar-toggler {
  padding: 0;
}

.nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
}

.nav-link:hover {
  color: white;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.list-group-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding: 0 0 0 10px;
  font-size: 0.9rem;
}

.equipo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
}

.card-header {
  padding: 5px;
}

.fas,
.far {
  margin-right: 10px;
}

tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tg {
  overflow-y: hidden;
  overflow-x: auto;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.tg-0lax {
  padding: 3px;
  margin: 3px;
  text-align: left;
  font-size: 0.8rem;
}

.lista {
  width: 100%;
  padding: 0;
}

.paginador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.paginador a {
  color: #000;
}

.page-link:hover {
  background: #007bff;
  color: #fff;
}

.dropdown-item {
  color: #000;
  font-weight: bold;
}

.dropdown-item:hover {
  background: #007bff;
  color: #fff;
}
