@import './navbar';
@import './mid';
@import './footer';

* {
	box-sizing: border-box;
	margin: 0;
	outline: 0;
	padding: 0;
	transition: all 0.1s ease;
}

html,
body {
	background-image: url(../img/bgBuildTeam.jpg);
	background-position: center -44px;
	height: 100%;
}

.container {
	padding-right: 0px;
	padding-left: 0px;
	min-height: 100vh;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.card-header {
	padding: 5px;
}

.fas,
.far {
	margin-right: 10px;
}
