@import './navbar';

.nav-up {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

* {
	box-sizing: border-box;
	margin: 0;
	outline: 0;
	padding: 0;
	transition: all 0.1s ease;
}

html,
body {
	background-image: url(../img/bgBuildTeam.jpg);
	background-position: center -44px;
	height: 100%;
}

.container {
	padding-right: 0px;
	padding-left: 0px;
	min-height: 100vh;
}

.mid {
	display: flex;
	width: 100%;
	justify-content: center;
}

.mid-col {
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	justify-content: center;
	min-height: 200px;
	width: 100%;
}

.monto {
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;

	span {
		font-size: 1.1rem;
	}
}

.title-mid {
	font-size: 1.4rem;
	font-weight: bold;
}

a {
	color: #fff;
}

.buscador {
	padding: 0;
	display: flex;
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.form-control-sm {
	display: flex;
	align-items: center;
	min-width: 110px;
}

.filtro {
	display: flex;
	display: flex;
	flex-direction: column;
}

.busqueda-container {
	min-width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	label {
		margin: 0;
	}

	.apellido {
		margin-right: 10px;
	}
}

.grupo {
	width: 100%;
	display: flex;
	justify-content: center;
}

.celdas {
	text-align: start;
	min-width: 250px;
}

.footer-bottom {
	min-width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.lista-jugadores {
	height: 100%;
}

.navbar-brand {
	font-size: 1.5rem;
	font-weight: bold;
	color: #fff;
	display: flex;
	align-items: center;

	.far {
		font-size: 2.5rem;
		margin-right: 10px;
	}
}

.navbar-toggler {
	padding: 0;
}

.nav-link {
	color: rgba(255, 255, 255, 0.7);
	font-weight: bold;

	&:hover {
		color: rgba(255, 255, 255, 1);
	}
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.list-group-item {
	display: flex;
	align-items: center;
	text-align: left;
	padding: 0 0 0 10px;
	font-size: 0.9rem;
}

.equipo {
	display: flex;
	justify-content: center;
	max-width: 100%;
}

.card-header {
	padding: 5px;
}

.fas,
.far {
	margin-right: 10px;
}

tr {
	display: flex;
	justify-content: space-evenly;
}

.tg {
	overflow-y: hidden;
	overflow-x: auto;
	background: hsla(0, 0%, 0%, 0.5);
	color: #fff;
}

.tg-0lax {
	padding: 3px;
	margin: 3px;
	text-align: left;
	font-size: 0.8rem;
}

.lista {
	width: 100%;
	padding: 0;
}

.paginador {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	a {
		color: #000;
	}
}

.page-link:hover {
	background: #007bff;
	color: #fff;
}

.dropdown-item {
	color: #000;
	font-weight: bold;

	&:hover {
		background: #007bff;
		color: #fff;
	}
}
